.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px !important;
  border: 1px solid transparent;
}

.table {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #5e6977;
}
